<app-header [titulo]="'checkbox'" [defaultHref]="'/'" [backText]="'regresar'" [backColor]="'success'" ></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">checkbox</ion-title>
      
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item *ngFor="let alumno of alumnos">
      <ion-label>{{alumno.nombre}}</ion-label>
      <ion-checkbox slot="end" [checked]="alumno.beca"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
