<app-header [titulo]="'fab'" [defaultHref]="'/'" [backText]="'regresar'" [backColor]="'success'" ></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Fab</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="logo-facebook" color="facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-linkedin" color="linkedin"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-youtube" color="youtube"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-x" color="XSM"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-xbox" color="xbox"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-list>
    <ion-item *ngFor="let item of items; let i = index">
      <ion-label >hola {{i+1}}</ion-label>
    </ion-item>
    
  </ion-list>
</ion-content>
