<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">inicio</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button routerLink="/alert">Alert</ion-button>
  <ion-button routerLink="/card">card</ion-button>
  <ion-button routerLink="/checkbox">checkbox</ion-button>
  <ion-button routerLink="/chip">chip</ion-button>
  <ion-button routerLink="/fab">fab</ion-button>
</ion-content>
