<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">inicio</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-list>
    <ion-button *ngFor="let element of Elementos"  [routerLink]="element.redirectTo" color="success">
      {{ element.nombre }}
    </ion-button>
  </ion-list>
  <ion-list>
    <ion-item detail *ngFor="let element of Elementos"  [routerLink]="element.redirectTo" ><ion-icon name="{{element.icon}}" slot="start" color="success" ></ion-icon>  {{element.nombre}}</ion-item>
  </ion-list>
</ion-content>
